<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta mane " viewport" content="width=device-width, initial-scale=1.0">
    <title> register</title>

</head>
<body bgcolor="skyblue">
    {{>navbar}}
    <h1> welcome on this webpage for register </h1>
   <form action="/register" class="inline">
    <button class="float-left submit-button" >click there for registion</button>
</form>
    <form action="/logine" class="inline">
    <button class="float-left submit-button" >Logine</button>
</form>
 


</body>
</html>