<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta mane " viewport" content="width=device-width, initial-scale=1.0">
    
   

    <title> register</title>

</head>
<body bgcolor="lighskyblue">
    {{>navbar}}
    <h1> welcome on this logine page </h1>
    <br>
    <br>
    <form action="/templates/views/logine.hbs" method="POST">
        <label>EMAIL:</label>
        <input type="email" id="email" name="email" /><BR><br>
        <label>Password:</label>
        <input type="password" id="pass" name="pass" size="10" /><BR><br>
        <input type="button" value="Submit"
    </form>


  
 


</body>
</html>